apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: client
  name: client
  namespace: fullstacktodo
spec:
  type: LoadBalancer
  loadBalancerIP: 10.0.0.59 
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    io.kompose.service: client
status:
  loadBalancer: {}
